---
import { Button } from '@monorepo/ui/components';
import type { Article } from '@monorepo/cms';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Site 1</title>
  </head>
  <body>
    <h1 class="text-3xl font-bold">Welcome to Site 1</h1>
    <Button>Click me</Button>
  </body>
</html>
